<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <connectionStrings>
		<add name="DynamicsConnection" connectionString="yourConnectionString"/>
		<!-- <add name="DynamicsConnection" connectionString="AuthType=ClientSecret;Url=yourUrl;AppId=yourAppId;ClientSecret=yourClientSecret"/>-->
	</connectionStrings>
</configuration>